{
    "currency": "€",
    "bank_adapter": "bankin",
    "bank_username": "USERNAME",
    "bank_password": "PASSWORD",
    "transactions_dir": "transactions",
    "notify_adapter": "email",
    "notify_host": "smtp.gmail.com:587",
    "notify_tls": true,
    "notify_username": "you@gmail.com",
    "notify_password": "PASSWORD",
    "notify_emails": ["you@example.com"],
    "notify_balance": 200,
    "notify_delta": 200,
    "web_passcode": "PASSCODE",
    "income_sources": [],
    "income_delay": 0,
    "expected_recurring_expenses": [],
    "savings_goals": [],
    "inter_account_labels_out": "REGEXP TO MATCH OUTGOING TRANSFER",
    "inter_account_labels_in": "REGEXP TO MATCH INCOMING TRANSFER"
}