{
    "bank_adapter": "bankin",
    "bank_username": "USERNAME",
    "bank_password": "PASSWORD",
    "transactions_dir": "transactions",
    "notify_adapter": "bouygues_telecom_sms",
    "notify_balance": 200,
    "notify_delta": 200,
    "notify_numbers": ["0000000000"],
    "notify_username": "USERNAME",
    "notify_password": "PASSWORD",
    "web_passcode": "PASSCODE",
    "income_sources": [],
    "expected_recurring_expenses": [],
    "savings_goals": [],
    "inter_account_labels_out": "REGEXP TO MATCH OUTGOING TRANSFER",
    "inter_account_labels_in": "REGEXP TO MATCH INCOMING TRANSFER"
}