
body {
  background: #e4e4e4;
  font-family: sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
}

hr {
  border: 0;
  border-top: 1px dotted #ddd;
  padding: 0;
  margin: 20px 0;
}

.neg {
  color: #d21111;
}
.warn {
  color: #f7a436;
}
.pos {
  color: #2cd211;
}

.tooltip {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 50%;
  background: #eee;
  color: #999;
  font-weight: bold;
  font-size: 12px;
  position: relative;
  vertical-align: bottom;
}
  .tooltip > span {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    border: 1px solid #efefef;
    background: #f7f5d4;
    z-index: 100;
    width: 200px;
    font-weight: normal;
    font-size: 14px;
    color: black;
  }
  .tooltip:hover > span {
    display: block;
  }

#page {
  width: 600px;
  max-width: 100%;
  margin: 25px auto 15px;
  border: 1px solid #ffffff;
  border-radius: 7px;
  padding: 10px;
  background: #fff;
  overflow: hidden;
}

#available {
  margin: -10px -10px 0;
  padding: 10px;
  text-align: center;
  background: #5aa0e2;
  color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
}

#header {
  margin: -10px -10px 30px;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background: #7bbbf7;
  color: #fff;
  border-bottom: 9px solid #5aa0e2;
  display: flex;
  align-items: center;
}
#available + #header {
  margin-top: 0;
  border-radius: 0;
}
  #header h1 {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    display: inline
  }
  #header > a,
  #header > span {
    flex: 0 0 30px;
    font-size: 28px;
    text-decoration: none;
    color: #fff;
  }
  #header > form {
    flex: 0 0 30px;
  }
    #header > form > button {
      border: 0;
      outline: none;
      background: transparent;
      font-size: 28px;
      color: #fff;
      cursor: pointer;
      padding: 0;
      width: 100%;
    }

.budget > .header {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}
  .budget > .header > div {
    flex: 1 1 auto;
    text-align: center;
    margin-bottom: 20px;
  }
    .budget > .header .title {
      margin-bottom: 10px;
      color: #aaa;
    }
      .budget > .header .title a {
        color: #aaa;
      }
    .budget > .header .value {
      font-size: 40px;
      font-family: monospace;
    }
.budget > p {
  border-top: 1px dotted #eee;
  padding: 6px 0;
  margin: 0;
}
.budget > p.big {
  font-size: 20px;
  padding: 12px 0;
}
  .budget > p > label {
    color: #777;
  }
    .budget > p > label > a {
      color: #777;
    }
  .budget > p.big > label {
    color: #444;
    font-weight: bold;
  }
  .budget > p > .value {
    float: right;
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
  }
  .budget > p.big > .value {
    font-size: 20px;
  }

.transactions {
  list-style: none;
  margin: 0;
  padding: 0;
}
.transactions.hidden {
  display: none;
}
  .transactions li {
    margin-bottom: 10px;
    padding: 0;
  }
    .transactions li .date {
      display: inline-block;
      margin-right: 10px;
      color: #888;
      float: left;
    }
    .transactions li .label {
      max-width: 410px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .transactions li .amount {
      float: right;
      font-family: monospace;
      font-size: 14px;
      font-weight: bold;
    }

#showMore {
  display: block;
  text-align: center;
  padding: 5px;
  color: #aaa;
}

#nodata {
  margin: 40px 0 !important;
  text-align: center;
  font-size: 16px;
  color: #777;
  border: 0 !important;
}

#footer {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
  color: #b7b7b7;
  margin-bottom: 20px;
}
  #footer a {
    color: #b7b7b7;
  }

@media screen and (max-width: 600px) {
  #balance {
    flex-direction: column;
  }
  #page {
    border: 0;
    border-radius: 0;
    margin-top: 0;
    padding: 5px;
  }
  .transactions li .label {
    max-width: 183px;
  }
}

#login {
  text-align: center;
}
  #login input {
    font-size: 30px;
    padding: 5px 10px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

#config {
  overflow: auto;
  zoom: 1;
}

#config fieldset {
  border: 0;
  padding: 0 0 10px;
  margin-bottom: 20px;
}
  #config legend {
    margin: 0 0 10px;
    padding: 0;
    font-size: 22px;
    color: #444;
  }

#config table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 10px;
}
  #config td {
    padding: 2px;
    border-bottom: 1px dotted #ddd;
  }
  #config td:first-child {
    padding-left: 0;
  }
  #config td:last-child {
    padding-right: 0;
  }
  #config th {
    text-align: left;
    background: #efefef;
    color: #888;
    padding: 7px;
    border-bottom: 1px dotted #ddd;
  }
  #config tr:hover td {
    background: #f8f8f8;
  }
  #config table input,
  #config table select,
  #config table button {
    padding: 5px;
    width: 100%;
  }
  #config fieldset > button {
    font-size: 16px;
    float: right;
  }
#config button[type="submit"] {
  font-size: 20px;
  float: right;
}