{% macro transaction(tx, is_recurring=False) -%}
  <li>
    <span class="date">{{tx.date.strftime('%d %b')}}</span>
    <span class="label" title="{{tx.label}}">{{tx.label}}</span>
    <span class="amount {{ 'warn' if is_recurring else ('pos' if tx.amount >= 0 else 'neg') }}">{{tx.amount}}€</span>
  </li>
{%- endmacro %}

<ul class="transactions">
  {% for tx in budget.transactions[:10] %}
    {{ transaction(tx, tx in budget.recurring_expenses_transactions) }}
  {% endfor %}
</ul>
{% if budget.transactions|length > 10 %}
<a id="showMore" href="javascript:" onclick="showAllTransactions()">more</a>
<ul class="transactions hidden">
  {% for tx in budget.transactions[10:] %}
    {{ transaction(tx, tx in budget.recurring_expenses_transactions) }}
  {% endfor %}
</ul>
{% endif %}