<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | BudgetTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}?{{config['ASSETS_HASH']}}">
    <link rel="icon" sizes="192x192" type="img/png" href="{{url_for('static', filename='icon.png')}}">
    <link rel="apple-touch-icon" href="{{url_for('static', filename='icon.png')}}">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
      {% block header %}{% endblock %}
      <div id="page">
        {% block page_header %}
        <div id="header">
          <a href="{{url_for('index')}}">&leftarrow;</a>
          <h1>{{ self.title() }}</h1>
          <span></span>
        </div>
        {% endblock %}
        {% block page %}{% endblock %}
      </div>
      {% block footer %}
        <div id="footer">
          <a href="{{url_for('settings')}}">settings</a> -
          <a href="{{url_for('logout')}}">logout</a>
        </div>
      {% endblock %}
    {% endblock %}
    <script src="{{url_for('static', filename='main.js')}}?{{config['ASSETS_HASH']}}"></script>
  </body>
</html>