{% macro transaction(tx, is_planned=False) -%}
  <li data-tx-id="{{tx.id}}" data-tx-amount="{{tx.amount}}" data-tx-date="{{tx.date.isoformat()}}">
    <span class="date">{{tx.date.strftime('%d %b')}}</span>
    <span class="label" title="{{tx.label}}">{{tx.label}}</span>
    {% if tx.amount < 0 %}
    {% if tx.goal %}
      <span class="goal" title="{{tx.goal}}" onclick="showTransactionOptions(event)">&#9733;</span>
    {% endif %}
    {% if tx.categories %}
      {% for category in tx.categories %}
        <span class="category" title="{{category}}" style="background-color: {{category_colors.get(category) or '#eee'}}"
          onclick="showTransactionOptions(event)">{{category}}</span>
      {% endfor %}
    {% else %}
      <span class="category" onclick="showTransactionOptions(event)"></span>
    {% endif %}
    {% endif %}
    <span class="amount {{ 'warn' if is_planned else ('pos' if tx.amount >= 0 else 'neg') }}">{{famount(tx.amount)}}</span>
  </li>
{%- endmacro %}

{% macro goal_bar(goal) -%}
  <div class="goal-bar {{'success' if not goal.remaining else ''}}">
    {% if goal.used %}
    <span class="used" title="Used ({{famount(goal.used)}}) ({{goal.used_pct}}%)"
      style="flex-basis: {{goal.used_pct}}%"></span>
    {% endif %}
    {% if goal.remaining %}
    {% if goal.saved %}
    <span class="saved" title="Saved ({{famount(goal.saved)}}) ({{goal.saved_pct}}%)"
      style="flex-basis: {{goal.saved_pct}}%"></span>
    {% endif %}
    <span class="remaining" title="Remaining ({{famount(goal.remaining)}}) ({{goal.remaining_pct}}%)"></span>
    {% else %}
    <span class="saved" title="Saved ({{famount(goal.saved)}}) ({{goal.saved_pct}}%)"></span>
    {% endif %}
  </div>
{%- endmacro %}