{% extends "layout.html" %}
{% block title %}Settings{% endblock %}
{% block head %}
  <script src="{{url_for('static', filename='jscolor.min.js')}}"></script>
{% endblock %}
{% block page %}
  <form id="config" action="" method="POST">
    <ul class="tabs">
      <li class="active"><a href="#income-sources">Income sources</a></li>
      <li><a href="#planned-expenses">Planned expenses</a></li>
      <li><a href="#budget-goals">Budget goals</a></li>
      <li><a href="#categories">Categories</a></li>
    </ul>
    <fieldset id="income-sources" class="active tab-panel">
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th width="80">Amount</th>
            <th>Match</th>
            <th width="100">From</th>
            <th width="100">To</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for src in income_sources %}
          <tr>
            <td><input type="text" value="{{src.label}}" name="income_sources_label" required></td>
            <td><input type="number" value="{{src.amount}}" name="income_sources_amount" required step="any"></td>
            <td><input type="text" value="{{src.match or ''}}" name="income_sources_match"></td>
            <td><input type="date" value="{{src.from_date.isoformat() if src.from_date else ''}}" name="income_sources_from_date"></td>
            <td><input type="date" value="{{src.to_date.isoformat() if src.to_date else ''}}" name="income_sources_to_date"></td>
            <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <template>
        <tr>
          <td><input type="text" value="" name="income_sources_label" required></td>
          <td><input type="number" value="" name="income_sources_amount" required step="any"></td>
          <td><input type="text" value="" name="income_sources_match"></td>
          <td><input type="date" value="" name="income_sources_from_date"></td>
          <td><input type="date" value="" name="income_sources_to_date"></td>
          <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
        </tr>
      </template>
      <button type="button" onclick="addTemplateRow('income-sources')">&oplus; Add</button>
    </fieldset>
    <fieldset id="planned-expenses" class="tab-panel">
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th width="100">Amount</th>
            <th>Recurrence</th>
            <th>Match</th>
            <th>From</th>
            <th>To</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for exp in planned_expenses %}
          <tr>
            <td><input type="text" value="{{exp.label}}" name="planned_expenses_label" required></td>
            <td><input type="number" value="{{exp.amount}}" name="planned_expenses_amount" required step="any"></td>
            <td>
              <select name="planned_expenses_recurrence">
                {% for recur in ('Weekly', 'Monthly', 'Yearly') %}
                <option value="{{recur|upper}}" {% if recur|upper == exp.recurrence_label %}selected{% endif %}>{{recur}}</option>
                {% endfor %}
              </select>
            </td>
            <td><input type="text" value="{{exp.match or ''}}" name="planned_expenses_match"></td>
            <td><input type="date" value="{{exp.from_date.isoformat() if exp.from_date else ''}}" name="planned_expenses_from_date"></td>
            <td><input type="date" value="{{exp.to_date.isoformat() if exp.to_date else ''}}" name="planned_expenses_to_date"></td>
            <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <template>
        <tr>
          <td><input type="text" value="" name="planned_expenses_label" required></td>
          <td><input type="number" value="" name="planned_expenses_amount" required step="any"></td>
          <td>
            <select name="planned_expenses_recurrence">
              {% for recur in ('Weekly', 'Monthly', 'Yearly') %}
              <option value="{{recur|upper}}">{{recur}}</option>
              {% endfor %}
            </select>
          </td>
          <td><input type="text" value="" name="planned_expenses_match"></td>
          <td><input type="date" value="" name="planned_expenses_from_date"></td>
          <td><input type="date" value="" name="planned_expenses_to_date"></td>
          <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
        </tr>
      </template>
      <button type="button" onclick="addTemplateRow('planned-expenses')">&oplus; Add</button>
    </fieldset>
    <fieldset id="budget-goals" class="tab-panel">
      <table>
        <thead>
          <tr>
            <th>Label</th>
            <th width="100">Amount</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for goal in budget_goals %}
          <tr>
            <td><input type="text" value="{{goal.label}}" name="budget_goals_label" required></td>
            <td><input type="number" value="{{goal.amount}}" name="budget_goals_amount" step="any"></td>
            <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <template>
        <tr>
          <td><input type="text" value="" name="budget_goals_label" required></td>
          <td><input type="number" value="" name="budget_goals_amount" step="any"></td>
          <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
        </tr>
      </template>
      <button type="button" onclick="addTemplateRow('budget-goals')">&oplus; Add</button>
    </fieldset>
    <fieldset id="categories" class="tab-panel">
      <table>
        <thead>
          <tr>
            <th width="150">Name</th>
            <th width="100">Color</th>
            <th>Keywords</th>
            <th width="150">Warn. threshold</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
          <tr>
            <td><input type="text" value="{{category.name}}" name="categories_name" required></td>
            <td><input type="text" class="jscolor" value="{{category.color}}" name="categories_color"></td>
            <td><input type="text" value="{{", ".join(category.keywords)}}" name="categories_keywords"></td>
            <td><input type="number" value="{{category.warning_threshold}}" name="categories_warning_threshold" step="any"></td>
            <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <template>
        <tr>
          <td><input type="text" value="" name="categories_name" required></td>
          <td><input type="text" class="jscolor" value="" name="categories_color"></td>
          <td><input type="text" value="" name="categories_keywords"></td>
          <td><input type="number" value="" name="categories_warning_threshold" step="any"></td>
          <td><button type="button" onclick="removeRow(event)">&odash;</button></td>
        </tr>
      </template>
      <button type="button" onclick="addTemplateRow('categories')">&oplus; Add</button>
    </fieldset>
    <hr>
    <button type="submit">Save</button>
  </form>
  <script>
    function addTemplateRow(typeId) {
      var tpl = document.querySelector('#' + typeId + ' > template');
      var table = document.querySelector('#' + typeId + ' > table > tbody');
      table.appendChild(document.importNode(tpl.content, true));
      table.querySelectorAll('input.jscolor').forEach(function(node) {
        new jscolor(node);
      });
    }

    function removeRow(event) {
      var tr = event.target.parentNode.parentNode;
      tr.parentNode.removeChild(tr);
    }
  </script>
{% endblock %}