{% from 'macros.html' import transaction with context %}
{% extends "layout.html" %}
{% block title %}{{page_title}} in {{date.year}}{% endblock %}
{% block head %}
  <script src="{{url_for('static', filename='chartist.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='chartist.min.css')}}">
{% endblock %}

{% block page_header %}
  <div id="header">
    <a href="{{url_for('income', year=prev_year)}}" title="Previous year">&laquo;</a>
    <h1>{{page_title}} in <a href="{{url_for('year', year=date.year)}}" class="u">{{date.year}}</a></h1>
    {% if next_year %}
      <a href="{{url_for('income', year=next_year)}}" title="Next year">&raquo;</a>
    {% else %}
      <span></span>
    {% endif %}
  </div>
{% endblock %}

{% block page %}
  <div class="stats-header">
    <div class="value pos">
      {{famount(income)}}
    </div>
  </div>

  <div class="ct-chart ct-major-eleventh"></div>

  <ul class="transactions">
    {% for tx in transactions %}
      {{ transaction(tx) }}
    {% endfor %}
  </ul>

  <script>
     document.addEventListener("DOMContentLoaded", function() {
      var data = {
        labels: {{chart_months|tojson}},
        series: [
          {{chart_amounts|tojson}}
        ]
      };

      new Chartist.Line('.ct-chart', data, {
        fullWidth: true,
        showArea: true,
        axisX: {
          showGrid: false
        },
        axisY: {
          showLabel: false,
          offset: 0
        }
      });
    });
  </script>

  {% include "_tx_options.html" %}
{% endblock %}